<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finale.phiser.myapplication">

    <permission
        android:name="com.finale.phiser.myapplication.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.finale.phiser.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permision.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/asig"
        android:label="ATTACK SIMULATION IN GIS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ATTACK SIMULATION IN GIS"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="ASIG"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Register"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Messaging"
            android:label="Messaging"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.finale.phiser.myapplication.MESSAGING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmlXGuhOnyKVMh5rC1Mi97icfvfnwfha8" />

        <activity
            android:name=".MapsActivity"
            android:label="Map">
            <intent-filter>
                <action android:name="android.intent.action.MAP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
